* {
    padding:0;
    margin:0;
  }

  html, body {
    height:100%;
  }
  h1,h2,h3,p{
    text-rendering: optimizeLegibility;
  }
  .skrollr-desktop body {
    height:100% !important;
  }

  body {
    font-family:sans-serif;
  }

  p {
    margin:1em 0;
  }

  .parallax-image-wrapper {
    position:fixed;
    left:0;
    width:100%;
    overflow:hidden;
  }

  .parallax-image-wrapper-50 {
    height:50%;
    top:-50%;
  }

  .parallax-image-wrapper-100 {
    height:100%;
    top:-100%;
  }
  .parallax-image {
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
  }

  .parallax-image-50 {
    height:200%;
    top:-50%;
  }

  .parallax-image-100 {
    height:100%;
    top:0;
  }

  .parallax-image.skrollable-between {
    display:block;
  }

  .no-skrollr .parallax-image-wrapper {
    display:none !important;
  }

  #skrollr-body {
    height:100%;
    overflow:visible;
    position:relative;
  }

  .gap {
    background:transparent center no-repeat;
    background-size:cover;
  }

  .skrollr .gap {
    background:transparent !important;
  }

  .gap-50 {
    height:50%;
  }

  .gap-100 {
    height:100%;
  }

  .header, .content {
    background:#fff;
    padding:1px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;    
  }
  .content-full {
    height:100%;
  }
  /*footer*/
  #done {
    height:15%;
    background: #000000;
    font-family: 'Amatic SC', cursive;
    font-size: 1.2em;    
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    padding: 1em;
    text-transform: capitalize;    
  }
  #done h2{
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;    
    color:#ff46af;
  }
  .header{
        position: fixed; 
        opacity: 0.5; 
        width: 100%;
  }
  #logo{    
    text-align: center;
  }
  #logo img{
        width:18%;
        height: auto;
  }

/*weeding*/

#bacons{
  background: #ecf0f1;  
  padding: 2em;  
}

#bacons span{
  border-bottom: 3px double #c0392b;
  padding-bottom:0.3em;
}
#bacons div#box{
  border: 2px solid #c0392b;
  width: 49%;
  text-align: center;
  margin: 0 auto;
  padding: 3em;
}
#bacons h1 {
  color: #c0392b;
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  letter-spacing: 10px;
  text-align: center;
  line-height: 1.5;
}
#bacons h1#rec{
  font-size: 1.5em;
  font-family: 'Megrim', cursive;
  padding: 1em;
}
#bacons h2 {
  color: #2c3e50;
  font-family: 'Merriweather',serif;
  font-size: 1em;
  line-height: 2;
  font-weight: 300;
  text-align: center;
}
#bacons h2#name{
  font-size: 1.5em;
  font-family: 'Volkron',serif;
}
#bacons h2#text{
  font-family: 'Pacifico', sans-serif;
  font-weight: 200;
  font-size: 1em;
}
#bacons h2#amp{
  font-family: 'Playfair Display', serif;
  font-weight: 200;
  font-size: 1.5em; 
}
#bacons h3 {
  color: #2c3e50;
  font-size: 0.8em;
  letter-spacing: 2px;
  text-align: center;
  line-height: 2;
  font-weight: 300;
  font-family: 'Convergence', cursive;
}

/*ceremony*/
#kittens{
  background: #ecf0f1;  
  padding: 2em;  
  font-family: 'Volkron',serif;
  color: #2c3e50;
  font-size: 1.2em;
}
#kittens span#rec{
  border-bottom: 3px double #c0392b;
  padding-bottom:0.3em;
}
#kittens div#box {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

#kittens div span{
  font-size: 0.8em;
}
#kittens div#left{
  float: left;
  width: 30%;
  padding-bottom: 1em;
  text-align: left;
}
#kittens div#left1{
  float: left;
  width: 70%;
  padding-bottom: 1em;
  text-align: left;
}
#kittens div#date{
  border-bottom: 1px solid #000000;
  padding-bottom:0.3em;
}
#kittens h1 {
  color: #c0392b;
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  letter-spacing: 10px;
  text-align: center;
  line-height: 1.5;
}

#kittens h1#rec{
  font-size: 1.5em;
  font-family: 'Megrim', cursive;
  padding: 1em;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait){
    #bacons h1 {
    font-size: 2.5em;
    letter-spacing: 1px;  
  }
  #bacons div#box{
    width: 48%;
  }
  #kittens{
    padding: 1em;
    font-size: 1em;
  }
  #kittens div#left{
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
  }
  #kittens div#left1{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #7f8c8d;
    padding-bottom:0.5em;
  }
  #kittens div#date{
    border-bottom: 0;
  }
  #done{
    height: 15%;
  }
}
